.faq-wrapper {
    position: relative;
    background-color: rgb(20, 20, 20);
    z-index: 10;
}

.accordion-item {
    background-color: rgb(20, 20, 20) !important;
    color: white;
}

.accordion-button {
    background-color: rgb(20, 20, 20);
    box-shadow: none !important;
    color: white;
}



.accordion-button:not(.collapsed) {
    background-color: rgb(20, 20, 20) !important;
    color: rgb(178, 75, 243) !important;

}

.accordion-button::after {
    background-image: url(../../../public/images/faq-plus.png);

}

.accordion-button:not(.collapsed)::after {
    background-image: url(../../../public/images/faq-minus.png);
}

.footer-info {
    color: white;
}

.dc-link {
    color: rgb(178, 75, 243);
}