.are-you-bullish-wrapper {
    position: relative;
    z-index: 15;
    background-color: white;
    padding-bottom: 200px !important;

}

.are-you-bullish-content-image-middle {
    position: relative;
    top: 50px;
}

.welcome-image-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.welcome-image {
    width: 33.33%;
    margin-right: 1rem;
}

.welcome-image.second {
    width: 33.33%;
    margin-top: 5rem;
}